@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public do.navcontent ul.socialmain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************** MEDIA QUERIES *********************/

@media only screen and (max-width: 1025px) {
    .container {
    	width: 100% !important;
    }
}

/****************************************************/
html, body {
	 height: 100%;
}

body {
	/*background: #272822 !important;*/
	/*color: #ffffff;*/
}
code {
    color: #ffffff;
    background-color: #063858;
    border-radius: 4px;
    padding: 3px 5px !important;
    font-family: 'Source Code Pro Light', monospace !important;
    font-size: .9em !important;
}
#introduction-load {
    width: 100%;
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #272822;
    z-index: 3000;
}

#introduction-load .intro-container {
    position: relative;
    width: 100%;
    display: block;
    height: 100vh;
}

#introduction-load .intro-container .intro-name {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-transform: uppercase;
    color: #2edad2;
}

#introduction-load .intro-container .intro-name .intro-ani {
    display: table-cell;
}

#introduction-load .intro-container .intro-name .intro-sam {
    font-family: 'Source Code Pro Light', monospace;
}
#introduction-load .intro-container .intro-name .intro-young {
    font-family: 'Source Code Pro', monospace;
}

.fadeIn {
    animation: fadeIn 2.0s ease forwards;
}

.fadeIn2 {
    animation: fadeIn 4.0s ease forwards;
}
@keyframes fadeIn {
    0% {
        opacity:0;
        color: #272822;
    }
    100% {
        opacity:1;
        color: #2edad2;
    }
}


#header-main {
    height: 110px;
    width: 100%;
    position: fixed;
    transition: all 0.5s;
    /*background: #272822;*/
    background: url('/images/foresthorizon.png');
    background-position: 10% 74%;
    background-size: cover;
    z-index: 1000;
    box-shadow: 0 0 7px black;
}

#header-div {
    float: left;
    display: inline-block;
    width: 30%;
    position: relative;
    height: 100px;
}

.scrollUp {
    transform: translateY(-112px)
}

.header-floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }
}

#header-text {
    position: absolute;
    top: 5px;
    left: 10%;
    border: 2px solid #2edad2;
    padding: 8px;
    color: #2edad2;
    cursor: pointer;
    transition: all 0.7s linear;
}

#header-text:hover {
    color: #CDDC39;
    border: 2px solid #CDDC39;
}

.text-sam, .text-young {
    text-transform: uppercase;
    font-size: 4vmax;
    font-family: 'Open Sans Condensed', sans-serif;
}
.text-young {
    font-weight: bold;
}


#footer {
	background: gray;
	color: #fff;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	/*text-transform: uppercase;*/
	font-size: 1.1rem;
	padding: 10px;
}

#footer ul.social {
    position: fixed;
    bottom: 0;
    left: 20px;
    list-style-type: none;
    border-right: 1px solid gray;
    padding-right: 10px;
    padding-bottom: 150px;
}
#footer ul.social li:not(:first-child){
    margin: 50px 0;
}
#footer ul.social li {
    font-size: 1.5em;
    margin-bottom: 0;
}
#footer ul.social li a {
    color: gray !important;
    transition: all 0.4s linear;
}
#footer ul.social li a:hover {
    color: #2edad2 !important;
}
@media only screen and (max-width: 1024px) {
    #footer ul.social {
        left: 5px;
    }
}
@media only screen and (max-width: 768px) {
    #footer ul.social {
        display: none;
    }
}

.navcontent {
	text-align: center;
	color: #585858;
    transition: all 0.5s;
	font-family: 'Source Code Pro', monospace !important;
	display: block;
	float: right;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    z-index: 3000;
}
.navcontent > div {
    display: flex;
}

.hamburger-menu {
    display: none;
}
.navcontent ul.menu {
    flex: 2;
}
.navcontent ul.social {
    display: none;
    padding: 10px 20px;
}

.navcontent ul.social li {
    height: auto;
    display: table;
}
.navcontent ul.social li a {
    padding: 5px;
}

.navcontent li {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    padding: 10px 10px 10px 4px;
    /*display: inline-block;*/
    color: #2edad2 !important;
    font-weight: bold;
    transition: all 0.5s linear;
    cursor: pointer;
}

.navcontent a {
    padding: 10px 10px 10px 4px;
    display: inline-block;
    color: #2edad2 !important;
    font-weight: bold;
    transition: all 0.5s linear;
}

.navcontent li:hover {
    color: #F92672 !important;
    text-decoration: none;
}

/** navcontent mobile **/
@media only screen and (max-width : 1024px) {
    .navcontent {
        width: 44%;
    }
}
@media only screen and (max-width : 768px) {
    .header-floating {
        animation-iteration-count: 0;
    }
    #header-main {
        padding: 0;
    }
    #header-text {
        top: 20%;
        left: 20%
    }
    .hamburger-menu {
        display: block;
        position: fixed;
        border-bottom: 3px solid #2edad2;
        width: 46px;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 2001;
        transition: all 0.5s;
    }
    .hamburger-menu::before {
        content: '';
        display: block;
        border-bottom: 3px solid #2edad2;
        width: 28px;
        margin: 10px 0;
    }
    .hamburger-menu::after {
        content: '';
        display: block;
        border-bottom: 3px solid #2edad2;
        width: 40px;
        margin: 10px 0;
    }
    .navcontent {
        display: none;
        position: fixed;
        background: #063858;
        height: 100vh;
        right: 0;
        float: none;
        width: 50%;
        padding-left: 5%;
        padding-top: 20%;
        z-index: 2000;
        border-left: 1px solid #2edad2;
    }
    .navcontent > div {
        display: block;
    }
    .navcontent ul.menu {
    }
    .navcontent ul.menu li {
        display: block !important;
        text-align: left;
        height: auto !important;
    }
    .navcontent ul.social {
        display: block;
        padding: 20px 0 !important;
    }
    .navcontent ul.social li a {
        padding: 8px 0 !important;
    }
}
@media only screen and (max-width : 480px) {
    #header-text {
        top: 30%;
    }
}

.bannercontent {
	text-align: center;
	display:table-cell;
    vertical-align:middle;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	overflow: hidden;
}

.bannercontent img {
	border-radius: 50%;
	/*float: left;*/
	margin-right: 15px;
	display: inline-block;
	width: 70px;
	height: 70px;
}

.title h1{
	font-size: 40px;
/*	letter-spacing: -5px;*/
	text-align: center;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.15),
				-1px 0 0 rgba(0,0,0,0.03),
				1px 0 0 rgba(0,0,0,0.03),
				0 1px 0 rgba(0,0,0,0.12);
}

.title .name_title {
	border: 3px solid #8c8e90;
	border-radius: 10px;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),
				-1px 0 0 rgba(0,0,0,0.03),
				1px 0 0 rgba(0,0,0,0.03),
				0 1px 0 rgba(0,0,0,0.12);
}

.title .icons_title {
	font-size: 20px;
	margin: 15px auto;
	text-shadow: 0 1px 1px rgba(0,0,0,0.15),
				-1px 0 0 rgba(0,0,0,0.03),
				1px 0 0 rgba(0,0,0,0.03),
				0 1px 0 rgba(0,0,0,0.12);
}


span.definition {
	font-style: italic;
}

.banner {
	color: #fff;
	background: url('/images/random_grey.png') center center;
	background-attachment:fixed;
	height: 200px;
	width: 100%;
	display: table;
}

.sidebar {
	float: left;
	width: 20%;
	padding: 25px;
	margin-right: 30px;
}

.sidebar ul {
	margin-top: 7px;
	margin-bottom: 7px;
}

.sidebar ul li {
	display: inline-block;
}

.search {
	padding: 0 35px;
}

.search input {
	color: #000;
	background: transparent;
	border-bottom: 1px solid #ccc;
	border-color: transparent;
	outline: none;
	width: 100%;
	margin: 0 auto;
}


.container {
    padding: 120px 0 0 0;
	overflow: hidden;
	width: 100% !important;
    font-family: 'Karla', sans-serif;
}

.blurIt {
    filter: blur(2px);
}
section.active {
    visibility: visible !important;
    opacity: 1 !important;
}

section#front-intro {
    position: relative;
    height: 100vh;
}

section#front-intro .about-intro-text {
    padding: 50px 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    width: 100%;
}
section#front-intro .h1_1{
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
}
section#front-intro .h1_2 {
    font-size: 5em;
    font-family: 'Source Code Pro Bold', monospace;
    font-weight: 900;
    color: #b3c719;
}
section#front-intro .h1_3{
    line-height: 1.4em;
    margin-top: 20px;
    width: 70%;
}

section#front-intro ul.tech-stack {
    /*column-count: 2;*/
    /*column-gap: 35%;*/
    display: inline-block;
    margin-top: 20px;
}

section#front-intro ul.tech-stack li {
    display: inline-block;
    margin: 5px 10px 10px 0;
    break-inside: avoid;
    padding: 5px;
}
/** front intro mobile */
@media only screen and (max-width : 1024px) {
    section#front-intro .about-intro-text {
        padding: 50px 150px;
    }
}

@media only screen and (max-width : 768px) {
    section#front-intro .about-intro-text {
        padding: 50px;
    }
    section#front-intro .h1_3 {
        width: 100%;
    }

}
@media only screen and (max-width : 480px) {
    section#front-intro .about-intro-text {
        padding: 25px;
        position: static;
        transform: none;
    }
    section#front-intro .h1_1 {
        font-size: 1.5em;
    }
    section#front-intro .h1_2 {
        font-size: 3.5em;
    }
}

@media only screen and (max-width : 320px) {
    section#front-intro {
         height: auto;
    }
    section#front-intro .h1_2 {
        font-size: 2.5em;
    }
    section#front-intro .about-intro-text {
        position: static;
        transform: none;
    }
}

section#about-me {
    position: relative;
    height: 100vh;
    transition:all 1s linear;
}

.about-container {
    padding: 25px 250px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.3em;
}
.about-container h1 {
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 75px;
}
.about-container .about-image {
    width: 200px;
    height: 200px;
    background: url('/images/aboutpic.jpg');
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
    background-size: cover;
    background-position: 50% 42%;
    mix-blend-mode: multiply;
    display: inline-block;
    float: left;
    margin: 0 20px;
}

.about-container .about-image:hover {

}
.about-container .about-bio {
    /*display: inline-block;*/
    /*float: left;*/
    /*width: 70%;*/
    flex: 2;
    padding-left: 30px;
}
@media only screen and (max-width : 1024px) {
    .about-container {
        padding: 25px 150px;
    }
    .about-container h1 {
        margin-bottom: 30px;
    }
    .about-container .about-image {
        width: 200px;
        height: 200px;
    }
    .about-container .about-bio {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .about-container {
        padding: 25px 50px;
    }
}
@media only screen and (max-width: 600px) {
    section#about-me {
        height: auto;
    }
    .about-container {
        padding: 25px;
        position: static;
        transform: none;
    }
    .resume-container > h1 {
        margin-bottom: 30px !important;
    }
    .resume-container .download-resume {
        width: 50% !important;
    }
}
@media only screen and (max-width: 480px) {
    .about-container .about-image {
        display: block;
        float: none;
        margin: 0 auto 15px auto;
    }
}
@media only screen and (max-width: 320px) {
    .resume-container .download-resume {
        display: inline;
        width: auto !important;
    }
}

section#resume {
    /*visibility: hidden;*/
    position: relative;
    height: 100vh;
    transition:all 1s linear;
    /*opacity: 0;*/
}

.resume-container {
    padding: 25px 250px;
    position: absolute;
    width: 100%;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.resume-container .download-resume {
    text-align: right;
    font-size: 2em;
    float: right;
    width:80%;
}
.resume-container .download-resume a {
    color: gray !important;
    transition: all 0.4s linear
}
.resume-container .download-resume a:hover {
    color: #2edad2 !important;
}
.company-wrapper {
    display: block;
    position: relative;
}
.resume-container .company-menu {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    float: left;
}
.resume-container > h1 {
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 75px;
    display: inline-block;
}
.resume-container .company-menu ul {
    font-size: .9em;
}
.resume-container .company-menu li {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    /*background: #404040;*/
    /*border-bottom: 1px solid black;*/
    cursor: pointer;
    text-align: center;
}
.resume-container .company-menu li::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    margin-top: 5px;
    right: 0;
    top: 27px;
    background: #2edad2;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.resume-container .company-menu li:hover::after {
    width: 100%;
    left: 0;
}
.resume-container .company-menu li.active {
    border-bottom: 1px solid #2edad2;
    background: #2edad2;
}
.resume-container .company-menu li:hover {
    /*background: #2edad2;*/
    color: black;
}
.resume-container .company-details {
    display: inline-block;
    line-height: 1.3em;
    max-height: 300px;
    flex: 5;
    position: absolute;
    /*top: 120px;*/
    right: 0;
    width: 73%;
    padding: 0 20px;
}
.resume-container .company-details h1 {
    display: inline-block;
    font-size: 1.3em;
}
.resume-container .company-details h1.cname {
    font-weight: bold;
    color: #2edad2;
    transition: all 0.4s linear;
}
.resume-container .company-details h1.cname:hover {
   color: #de9d75;
}
.resume-container .company-details hr {
    margin: 10px 0;
    border: none;
}
.resume-container .company-details .cloc {
    font-size: .9em;
    float: left;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 40px;
}
.resume-container .company-details .cdate {
    font-size: .9em;
    display: inline-block;
    float: left;
    font-weight: bold;
}
.resume-container .company-details .details-content {
    clear: both;
}
.resume-container .company-details ul.description {
    margin: 20px;
    list-style-type: none;
}
.resume-container .company-details ul.description li {
    margin: 10px 0;
}

.resume-container .company-details ul.description li::before {
    content: '❖';
    display: inline-block;
    color: #2edad2;
    margin-left: -1.3em;
    width: 1.3em;
}
.resume-container .company-details ul.tech-stack {
    margin: 20px;
    list-style-type: none;
}
.resume-container .company-details ul.tech-stack li {
    margin: 5px 10px;
    display: inline-block;
    /*color: #ffffff;*/
    /*background-color: #0f8d87;*/
    /*border-radius: 4px;*/
    /*padding: 3px 5px !important;*/
    /*font-family: 'Source Code Pro Light', monospace !important;*/
    /*font-size: .9em !important;*/
}

@media only screen and (max-width : 1024px) {
    .resume-container {
        padding: 25px 150px;
    }
}
@media only screen and (max-width : 768px) {
    .resume-container {
        padding: 25px 50px;
    }
}
@media only screen and (max-width : 600px) {
    .resume-container {
        padding: 25px;
        position: static;
        width: 100%;
        transform: none;
    }
    .resume-container .company-menu h1 {
        padding: 10px 0 20px;
        margin-bottom: 0;
    }
    .resume-container .company-menu {
        display: block;
        width: 100%;
        vertical-align: top;
        float: none;
        margin-top: 12px;
    }
    .resume-container .company-menu {
        display: block;
        width: 100%;
        vertical-align: top;
        float: none;
    }
    .resume-container .company-menu ul {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }
    .resume-container .company-menu li {
        display: table-cell;
        border-bottom: none;
    }
    .resume-container .company-menu li::after {
        content: none;
    }
    .resume-container .company-menu li.active {
        border-bottom: none;
        background: #2edad2;
    }
    .company-wrapper {
        margin-top: 10px;
    }
    .resume-container .company-details {
        position: static;
        width: 100%;
        overflow: visible;
        padding: 10px 0;
    }
    .resume-container .company-details h1 {
        font-size: 1.2em;
    }
    .resume-container .company-details ul.tech-stack {
        margin:0;
    }
}
@media only screen and (max-width : 480px) {
    .resume-container .company-details .cloc {
        margin-right: 0;
    }
    .resume-container .company-details .cdate {
        float: right;
    }
}
@media only screen and (max-width : 320px) {
    .resume-container .company-details hr {
        margin: 5px 0;
    }
    .resume-container .company-details .cloc {
        display: block;
        float: none;
        margin-bottom: 0;
    }
    .resume-container .company-details .cdate {
        float: none;
        margin: 10px 0 0 0;
    }
}

section#projects {
    /*visibility: hidden;*/
    position: relative;
    height: 100vh;
    transition:all 1s linear;
    /*opacity: 0;*/
}
.projects-container {
    padding: 25px 250px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.3em;
}
.projects-container a,
.about-container a{
    position: relative;
}
.projects-container a:hover,
.about-container a:hover{
    color: gray !important;
    text-decoration: none;
}
.projects-container a::after,
.about-container a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    margin-top: 5px;
    right: 0;
    top: 13px;
    background: #2edad2;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.projects-container a:hover::after,
.about-container a:hover::after{
    width: 100%;
    left: 0;
}
.projects-container a:after,
.about-container a:after{
    content: '';
    width: 0;
    height: 3px;
    color: red;
}
.projects-container > h1 {
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 75px;
    display: inline-block;
}
.projects-container .projects-content {
    margin: 0 auto;
    /*width: 70%;*/
}
.projects-container .projects-content i {
    font-size: 15em;
    color: #083453;
    animation: spin 20s linear infinite;
}
.projects-container .projects-content div {
    display: table-cell;
    vertical-align: middle;
}
.projects-container .projects-content div:first-child {
    padding-right: 55px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
@media only screen and (max-width: 1024px) {
    .projects-container {
        padding: 25px 150px;
    }
}

@media only screen and (max-width: 768px) {
    .projects-container {
        padding: 25px 50px;
    }
}
@media only screen and (max-width: 600px) {
    .projects-container {
        padding: 25px;
    }
    .projects-container .projects-content i {
        font-size: 9em;
    }
    .projects-container .projects-content div:first-child {
        padding-right: 32px;
    }
    .projects-container > h1 {
        margin-bottom: 30px !important;
    }
}
@media only screen and (max-width: 480px) {
    .projects-container .projects-content div:first-child {
        padding-right: 0;
        display: block;
        text-align: center;
    }
    .projects-container .projects-content div:nth-child(2) {
        margin-top: 30px;
        display: block;
    }
}

section#contact {
    /*visibility: hidden;*/
    position: relative;
    height: 100vh;
    transition:all 1s linear;
    /*opacity: 0;*/
}
.contact-container {
    padding: 25px 250px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.3em;
}
.contact-container > h1 {
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 75px;
    display: inline-block;
}
.contact-container a.contact-button {
    display: block;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 30px auto 0;
    width: 200px;
    cursor: pointer;
    color: black !important;
}
.contact-container a.contact-button:hover {
    color: gray !important;
    border: 1px solid gray;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .contact-container {
        padding: 25px 150px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-container {
        padding: 25px 50px;
    }
}
@media only screen and (max-width: 600px) {
    .contact-container {
        padding: 25px;
    }
    .contact-container > h1 {
        margin-bottom: 30px !important;
    }
}
@media only screen and (max-width: 480px) {

}



.box {
	background: #e7e7e7;
	display: block;
/*	box-sizing: border-box;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),
				-1px 0 0 rgba(0,0,0,0.03),
				1px 0 0 rgba(0,0,0,0.03),
				0 1px 0 rgba(0,0,0,0.12);*/
}

.editline {
	border: 3px dashed #9c9c9c;
}

.edit-pencil {
	position: absolute;
	top: 17px;
	right: 30px;
	font-size: 20px !important;
	color: #000;
}

.main {
	padding: 0 20px;
/*	display: table;
    table-layout: fixed;
    text-align: center;*/
}

p {
	padding-bottom: 15px;
}






















/******* PADDING ********/

.pad-5 {
	padding: 5px;
}

.pad-10 {
	padding: 10px;
}

.pad-15 {
	padding: 15px;
}

.pad-20 {
	padding: 20px;
}

.pad-25 {
	padding: 25px;
}

a {
	cursor: pointer;
	color: #1e2a31 !important;
    font-weight: bold;
}

a:hover {
	color: #efefef !important;
}

.fa {
	text-align: center;
}
















/***** ABOUT STYLE ******/
.aboutpic {
	border-radius: 50%;
	display: inline-block;
	float:right;
	width:30%;
}

/***** RESUME STYLE ******/

.resumename {
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
}

.greytext {
	color: #8b8a8a;
}

.strict-center {
	text-align: center;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.smalltext {
	font-size: 10px;
}

.boldtext {
	font-weight: bold;
}

.boxed-words li {
	display: inline-block;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 12px;
	background: #e4ebf5;
	padding: 2px 3px;
	margin: 2px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

@media (max-width: 992px) {
	.center {
		text-align: left;
	}

	.left {
		text-align: left;
	}

	.right {
		text-align: left;
	}
}


/***** POSTS STYLE ******/
.col-md-3 {
	background: none !important;
}

.post {
	/*margin: 0 10px 25px;*/
	/*width: 430px;*/
/*	display: table-cell;
	float: left;*/
	/*display: inline-block;*/
	/*height: 300px;*/
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.post-hover {
	opacity: 0.7;
}

.entry {
	line-height: 20px;
	text-align: left;
	color: #444545;
	background: #e7e7e7;
	max-height: 300px;
/*	-webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;*/
	/*box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);*/
}

.entry_text {
	padding: 15px;
}

.blog_input_content {
	font-size: 1em;
	width: 100%;
}

.blog_post_truncated {
	height: 70px;
	overflow: hidden;
}

.blog_post_full {
	max-height: none;
	height: auto;
	overflow: visible;
}

.blog_input:disabled {
	outline: none;
	border: none;
	display: block;
	width: 100%;
	background: transparent;
}

.blog_input {
	display: block;
	width: 100%;
	background: #fff;
	color: #000;
	padding: 5px;
}

.post_title {
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	display: block;
	padding: 15px;
    background: #333333;
    color: #fff;
}

.post_date {
	text-transform: uppercase;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	/*margin-top: 10px;*/
	display: block;
	padding: 0 25px 0 15px;
}

.more_text {
	display: block;
	width: 100%;
	margin-top: -25px;
	text-align: right;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	padding: 7px 25px 7px 25px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    cursor: pointer;
    margin-bottom: 25px;
}

.more_text:hover {
	background: #dedfe1;
}

.edit_buttons {
	display: none;
}

.post_submit {
	margin-right: 5px;
}

.delete_post {
	display: block;
    padding: 15px 0 0 0;
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
}

/*******************
ADD NEW POST STYLES
*******************/

.add_new_post {
	position: fixed;
	right: 20px;
	top: 20px;
	font-size:20px;
	font-weight: 500;
	background-color: #222222;
	color: #eee;
	padding: 0 15px;
	/*border-radius: 7px;*/
}

.add_new_post:hover {
	cursor: pointer;
	background-color: #404040;
}

/*******************
MODAL OVERRIDES
*******************/

.svy-modal-header {
	/*background: url('/images/oceanbg.jpg') no-repeat center;*/
	background: #222222;
	color: #fff;
}

.modal-content {
	border-radius: 0px !important;
}

.close {
	color: #fff !important;
}

/*******************
NOTIFY BOX STYLES
*******************/

#notice_box {
	position: fixed;
	right: 20px;
	bottom: 20px;
	min-width: 400px;
	max-width: 400px;
	background: #fff;
	border: 1px solid #d7d9dc;
}

.notice_title {
	padding: 10px 15px;
	font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
	display: block;
}

.notice_title.general {
	background: #eed500; /* yellow */
	color: #000;
}

.notice_title.success {
	background: #78bc2c; /* green */
	color: #fff;
}

.notice_title.failed {
	background: #e04c4c; /* red */
	color: #fff;
}

.notice_icon {
	float: left;
	width:10%;
	padding: 10px 15px 10px;
	font-size: 30px !important;
}


.notice_message {
	float: right;
	width:85%;
	display: inline-block;
    vertical-align: top; /* here */
    padding: 10px 15px;
}

/*******************
AUTHENTICATION
*******************/

.authenticate {
	left: 0;
	bottom: 0;
	z-index: 10000;
	color: #fff;
}

.login.authenticated a, .login.guest a, .login.guest a:active, .login.guest a:hover {
	color: #f4f4f4 !important;
}
